src/main/mule/mulesoft-get-app-details.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns:vm="http://www.mulesoft.org/schema/mule/vm" xmlns:os="http://www.mulesoft.org/schema/mule/os" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd 
http://www.mulesoft.org/schema/mule/os http://www.mulesoft.org/schema/mule/os/current/mule-os.xsd
http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/current/mule-vm.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd">
    <http:listener-config name="mulesoft-get-org-details-httpListenerConfig">
        <http:listener-connection host="0.0.0.0" port="${httpListener.port}" />
    </http:listener-config>
    <apikit:config name="mulesoft-get-org-details-config" api="resource::f76a844d-866d-46d5-b3f6-b09495f4d599:mulesoft-get-org-details:1.0.0:raml:zip:mulesoft-get-org-details.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" />
    <configuration-properties doc:name="Configuration properties" doc:id="df6d387c-f6ba-4401-8ee6-f01a642cbd0b" file="config.yaml" />
    <os:config name="ObjectStore_Config_Reconnection" doc:name="ObjectStore Config" doc:id="a54caca0-e059-42b7-9d8c-ae5b73de4959">
        <os:connection />
    </os:config>
    <os:object-store name="Org" doc:name="Object store" doc:id="413b884c-96e5-401e-b75f-d31983481237" config-ref="ObjectStore_Config_Reconnection" />
    <os:object-store name="Env" doc:name="Object store" doc:id="0b800a08-59ce-4a7d-ba38-d6750d56ab44" />
	<http:request-config name="AnypointPlatform_HTTP_Request_configuration" doc:name="HTTP Request configuration" doc:id="99b307f4-24d0-49b3-b3f3-32ea6ee9ef60" responseTimeout="60000">
		<http:request-connection protocol="HTTPS" host="${anypointplatform.host}" />
		<http:default-headers >
			<http:default-header key="Authorization" value='#["Bearer " ++ vars.bToken]' />
		</http:default-headers>
	</http:request-config>
	<vm:config name="VM_Config" doc:name="VM Config" doc:id="a148fa59-4445-4ddb-8ded-bfbaffe5e44a" >
		<vm:queues >
			<vm:queue queueName="ch1" queueType="PERSISTENT" />
			<vm:queue queueName="ch2" queueType="PERSISTENT" />
			<vm:queue queueName="rtf" queueType="PERSISTENT" />
			<vm:queue queueName="hybrid" queueType="PERSISTENT" />
			<vm:queue queueName="appendToEnvFile" queueType="PERSISTENT" />
			<vm:queue queueName="updateObjectStore" queueType="PERSISTENT" />
		</vm:queues>
	</vm:config>
	<file:config name="File_Config" doc:name="File Config" doc:id="b0bffc69-6482-4e8c-99ab-531f13f2a959" />
	<ee:object-store-caching-strategy name="Caching_Strategy" doc:name="Caching Strategy" doc:id="dd8b05a1-6de5-498a-a95b-6c7de6ff921e" keyGenerationExpression="#[vars.exchangeURI]" >
		<os:private-object-store alias="exchangeAPI" maxEntries="${cacheSettings.maxEntries}" entryTtl="${cacheSettings.entryTtl}" config-ref="ObjectStore_Config" expirationInterval="${cacheSettings.expirationInterval}" expirationIntervalUnit="SECONDS" persistent="false"/>
	</ee:object-store-caching-strategy>
	
	<os:config name="ObjectStore_Config" doc:name="ObjectStore Config" doc:id="53f8b550-4b11-4101-89fb-f60b9670e50d" >
		<os:connection >
			<reconnection >
				<reconnect frequency="10000" count="3" />
			</reconnection>
		</os:connection>
	</os:config>
	<flow name="mulesoft-get-org-details-main">
        <http:listener config-ref="mulesoft-get-org-details-httpListenerConfig" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="mulesoft-get-org-details-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:BAD_REQUEST">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Bad request"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">400</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:METHOD_NOT_ALLOWED">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Method not allowed"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">405</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_ACCEPTABLE">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not acceptable"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">406</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:UNSUPPORTED_MEDIA_TYPE">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Unsupported media type"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">415</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_IMPLEMENTED">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not Implemented"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">501</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="mulesoft-get-org-details-console">
        <http:listener config-ref="mulesoft-get-org-details-httpListenerConfig" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="mulesoft-get-org-details-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="delete:\removeAppDependencyReport:mulesoft-get-org-details-config">
        <flow-ref doc:name="Extract and Set Variables" doc:id="a148fa59-4445-4ddb-8ded-bfbaffe5e44a" name="extractAndSetVariables"/>
		<flow-ref doc:name="Remove Org and Env from Object Store" doc:id="9348d886-e083-46cf-b68f-e3acb1674f6a" name="removeOrgAndEnvironmentDetails"/>
		<ee:transform doc:name="Transform Message" doc:id="109546c9-6485-4046-83fc-668a5aeb61df" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	Response : "Removed " ++ vars.orgID ++ " & its Environments from ObjectStore"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
    </flow>
    <flow name="get:\generateAppDependencyReport:mulesoft-get-org-details-config">
    <flow-ref doc:name="Extract and Set Variables" doc:id="d1b1e93e-6835-485b-9b82-1e0f235f752d" name="extractAndSetVariables"/>
        
		<flow-ref doc:name="Check if Org is Already Processed" doc:id="568fb3c7-c260-4690-a4b3-701bd6dc0889" name="checkOrgProcessed"/>
		<choice doc:name="Choice" doc:id="d558e954-6be7-42e1-9faa-ffda6fb34bcf" >
			<when expression="#[vars.orgProcessed]">
				<flow-ref doc:name="Get Env Status from ObjectStore and Send response" doc:id="ba62f79d-f065-4553-a79a-3d8da7d83419" name="getAllEnvDetailsObjectStore"/>
			</when>
			<otherwise >
				<flow-ref doc:name="Trigger Report Generation for that Org" doc:id="2aa23e89-6535-44da-be10-1f6154f2837d" name="generateReportForThatOrg"/>
				<ee:transform doc:name="Transform Message" doc:id="b964324c-65e6-42d9-be8a-5d6428c2b235" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	orgID : vars.orgID,
	status : vars.allEnvStatus
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</otherwise>
		</choice>
    </flow>
    <flow name="get:\getFileForOrg:mulesoft-get-org-details-config">
    <flow-ref doc:name="Extract and Set Variables" doc:id="3fb8b479-a012-4d48-a1ef-09edd43f2d95" name="extractAndSetVariables"/>
        <flow-ref doc:name="Compress Files for that Org" doc:id="3459b6f2-5f64-4090-a54d-eb61567b0e7f" name="compressFilesForThatOrg" />
        <flow-ref doc:name="Read Compressed File" doc:id="50c717fb-c6b3-4fe6-b829-790a9e73a01f" name="readArchiveFilesForThatOrg" />
        <set-variable value="#[&quot;attachment;filename=&quot; ++ attributes.fileName as String]" doc:name="content-disposition value" doc:id="79ba3529-0e92-48df-993c-dab8dbe4a3e5" variableName="fileResponseHeader" />
        <ee:transform doc:name="Transform Message" doc:id="420bdf6a-81ad-4b97-b77c-5b2e7cfc9f25">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/java
---
payload]]></ee:set-payload>
                <ee:set-attributes><![CDATA[%dw 2.0
output application/java
---
"Content-Disposition":vars.fileResponseHeader]]></ee:set-attributes>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\getOrgStatus:mulesoft-get-org-details-config">
    <flow-ref doc:name="Extract and Set Variables" doc:id="8cf9b425-bf74-4c2d-82a1-2cac2b5fcfc0" name="extractAndSetVariables"/>
        <flow-ref doc:name="Validate Org Details in Object Store" doc:id="bfa6ecae-c8f2-429a-aecb-1fbde894b785" name="getOrgDetailsFrmObjectStore"/>
		<flow-ref doc:name="Get Env Status from ObjectStore and Send response" doc:id="ea1cfa83-d978-4cab-83db-e572429587d6" name="getAllEnvDetailsObjectStore"/>
    </flow>
	<flow name="mulesoft-get-org-detailsFlow" doc:id="ad2f12a3-01a9-4865-9860-062cf6c101f8" >
		<http:listener doc:name="Listener" doc:id="2890151f-b08d-4d34-bafd-248be070e5d3" config-ref="mulesoft-get-org-details-httpListenerConfig" path="/api/getDetailedReport"/>
		<os:retrieve doc:name="Retrieve" doc:id="69fcadf4-ef22-4d52-9a09-94e403adf194" key='#[attributes.headers."orgID"]' objectStore="Org" target="envs"/>
		<logger level="TRACE" doc:name="Logger" doc:id="147d5558-0d50-453f-87fb-1f01de7ac0f2" message="#[vars.envs]"/>
		<set-variable value="#[%dw 2.0&#10;output application/java&#10;---&#10;{}]" doc:name="Set Variable" doc:id="5a09394d-54e5-48be-be14-0bbdb86d8c51" variableName="envDetails"/>
		<foreach doc:name="For Each Environment" doc:id="32454e01-deb2-4e04-8bb9-3bbde025b2bf" collection="#[vars.envs]">
			<os:retrieve doc:name="Retrieve" doc:id="abe82d4b-db8a-420b-abea-e2cff1081830" key="#[payload]" objectStore="Env" target="envValue"/>
			<logger level="TRACE" doc:name="Logger" doc:id="1198106c-26a4-43f4-ab5c-82546bee53a3" message="#[vars.envValue]"/>
			<ee:transform doc:name="Transform Message" doc:id="09716205-61eb-476b-83b6-db359c9ecd83" >
				<ee:message >
				</ee:message>
				<ee:variables >
					<ee:set-variable variableName="envDetails" ><![CDATA[%dw 2.0
output application/java
---
vars.envDetails default {} ++ {(payload):vars.envValue}]]></ee:set-variable>
				</ee:variables>
			</ee:transform>
		</foreach>
		<ee:transform doc:name="Transform Message" doc:id="d6904f9c-d72d-4ee6-9dab-b82bd7ec3858" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
vars.envDetails]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
