src/main/mule/mulesoft-process-applications.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:vm="http://www.mulesoft.org/schema/mule/vm"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/current/mule-vm.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<flow name="processCH1Applications" doc:id="0bad10c0-57d8-4d23-9ef3-a3645c2f6d34" maxConcurrency="1">
		<vm:listener doc:name="Listener" doc:id="2c860744-da1d-4f34-8f13-39b51aecd404" config-ref="VM_Config" queueName="ch1"/>
		<logger level="TRACE" doc:name="Logger" doc:id="9273dfec-f050-476c-8229-a2e386837963" message="#[payload]" />
		<ee:transform doc:name="Transform Message" doc:id="8c4fe6f1-c191-452f-92d9-b38a776f71b5" >
			<ee:message >
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="bToken" ><![CDATA[%dw 2.0
output application/java
---
payload.bToken]]></ee:set-variable>
				<ee:set-variable variableName="orgID" ><![CDATA[%dw 2.0
output application/java
---
payload.orgID]]></ee:set-variable>
				<ee:set-variable variableName="env" ><![CDATA[%dw 2.0
output application/java
---
payload.environment]]></ee:set-variable>
				<ee:set-variable variableName="appName" ><![CDATA[%dw 2.0
output application/java
---
payload.name]]></ee:set-variable>
				<ee:set-variable variableName="jarName" ><![CDATA[%dw 2.0
output application/java
---
payload.fileName]]></ee:set-variable>
				<ee:set-variable variableName="jarFilePath" ><![CDATA[%dw 2.0
output application/java
---
payload.deploymentType ++ "/" ++ payload.name ++ ".zip" ]]></ee:set-variable>
				<ee:set-variable variableName="clsFilePath" ><![CDATA[%dw 2.0
output application/java
---
payload.deploymentType ++ "/" ++ payload.name ++ "/classloader-model.json" ]]></ee:set-variable>
				<ee:set-variable variableName="appId" ><![CDATA[%dw 2.0
output application/java
---
payload.name]]></ee:set-variable>
				<ee:set-variable variableName="depType" ><![CDATA[%dw 2.0
output application/java
---
payload.deploymentType]]></ee:set-variable>
				<ee:set-variable variableName="outputCSVFileName" ><![CDATA[%dw 2.0
output application/java
---
payload.nameOfTheEnvironment]]></ee:set-variable>
				<ee:set-variable variableName="applicationStatus" ><![CDATA[%dw 2.0
output application/java
---
payload.applicationStatus]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<http:request method="GET" doc:name="Request" doc:id="d6777f55-13e0-4465-8ffc-29c5ef544960" config-ref="AnypointPlatform_HTTP_Request_configuration" path="#[p('anypointplatform.ch1applications') ++ &#10;vars.orgID ++ &quot;/environments/&quot; ++ vars.env ++ &quot;/applications/&quot; ++ vars.appName ++ &quot;/download/&quot; ++ vars.jarName]" />
		<flow-ref doc:name="Process jar file and Generate the Report" doc:id="cf610385-94f9-4878-b82e-381f11f190dc" name="processJarAndGenerateReport"/>
		<error-handler >
			<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="a6c6e3bd-d6a2-482b-a1c2-29dc72fae72c" >
				<ee:transform doc:name="Transform Message" doc:id="5a283c57-d9c7-42b6-b73e-b0ea09d91a54" >
					<ee:message >
					</ee:message>
					<ee:variables >
						<ee:set-variable variableName="failMessageToObjectStore" ><![CDATA[%dw 2.0
output application/java
---
{
	orgID:vars.orgID,
	env: vars.env,
	depType: vars.depType,
	status: "FAIL"
}]]></ee:set-variable>
					</ee:variables>
				</ee:transform>
				<vm:publish queueName="updateObjectStore" doc:name="Publish to Update Env Object Store" doc:id="5eed4df4-d714-4990-acdb-e5c3ac3def1d" config-ref="VM_Config">
					<vm:content ><![CDATA[#[vars.failMessageToObjectStore]]]></vm:content>
				</vm:publish>
			</on-error-continue>
		</error-handler>
	</flow>
	<flow name="processCH2Applications" doc:id="458ff873-a32d-4aa8-9b2a-e610c3bc79fc" maxConcurrency="1">
		<vm:listener queueName="ch2" doc:name="Listener" doc:id="eb90bbe2-3a78-47da-b2fa-70f7202d094d" config-ref="VM_Config"/>
		<logger level="TRACE" doc:name="Logger" doc:id="a94dddb9-dc7b-4830-be83-99a7c5bbaef2" message="#[payload]" />
		<ee:transform doc:name="Transform Message" doc:id="c3c074be-0f21-4dc7-8e24-317f7eb67882" >
			<ee:message >
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="bToken" ><![CDATA[%dw 2.0
output application/java
---
payload.bToken]]></ee:set-variable>
				<ee:set-variable variableName="orgID" ><![CDATA[%dw 2.0
output application/java
---
payload.orgID]]></ee:set-variable>
				<ee:set-variable variableName="env" ><![CDATA[%dw 2.0
output application/java
---
payload.environment]]></ee:set-variable>
				<ee:set-variable variableName="appName" ><![CDATA[%dw 2.0
output application/java
---
payload.name]]></ee:set-variable>
				<ee:set-variable variableName="jarFilePath" ><![CDATA[%dw 2.0
output application/java
---
payload.deploymentType ++ "/" ++ payload.id ++ ".zip" ]]></ee:set-variable>
				<ee:set-variable variableName="clsFilePath" ><![CDATA[%dw 2.0
output application/java
---
payload.deploymentType ++ "/" ++ payload.name ++ "-" ++ payload.id ++ "/classloader-model.json" ]]></ee:set-variable>
				<ee:set-variable variableName="appId" ><![CDATA[%dw 2.0
output application/java
---
payload.id]]></ee:set-variable>
				<ee:set-variable variableName="depType" ><![CDATA[%dw 2.0
output application/java
---
payload.deploymentType]]></ee:set-variable>
				<ee:set-variable variableName="outputCSVFileName" ><![CDATA[%dw 2.0
output application/java
---
payload.nameOfTheEnvironment]]></ee:set-variable>
				<ee:set-variable variableName="applicationStatus" ><![CDATA[%dw 2.0
output application/java
---
payload.applicationStatus]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<flow-ref doc:name="Common Processes for CH2 and RTF" doc:id="3bb4f85a-42c5-44fb-bb52-9cc4fc21b2f4" name="ch2RtfCommonProcessing"/>
		<error-handler >
			<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="295b7f39-3952-446d-aa54-f620e2ba78ec" >
				<ee:transform doc:name="Transform Message" doc:id="edd40c78-d874-413e-a8a7-36a6556f104b" >
					<ee:message >
					</ee:message>
					<ee:variables >
						<ee:set-variable variableName="failMessageToObjectStore" ><![CDATA[%dw 2.0
output application/java
---
{
	orgID:vars.orgID,
	env: vars.env,
	depType: vars.depType,
	status: "FAIL"
}]]></ee:set-variable>
					</ee:variables>
				</ee:transform>
				<vm:publish queueName="updateObjectStore" doc:name="Publish to Update Env Object Store" doc:id="e922f881-b720-4fc5-a91d-8e6199340bbd" config-ref="VM_Config">
					<vm:content ><![CDATA[#[vars.failMessageToObjectStore]]]></vm:content>
				</vm:publish>
			</on-error-continue>
		</error-handler>
	</flow>
	<flow name="processRTFApplications" doc:id="433db94c-8daa-4a16-96ef-49991a449ace" maxConcurrency="1">
		<vm:listener queueName="rtf" doc:name="Listener" doc:id="068aba16-20dc-4fec-9151-1bd40aa3e326" config-ref="VM_Config"/>
		<logger level="TRACE" doc:name="Logger" doc:id="762e767e-761c-4ef6-a790-6b33f68bd38a" message="#[payload]" />
		<ee:transform doc:name="Transform Message" doc:id="b0cac581-51fd-4a87-8cfe-b86a772e4cd7" >
			<ee:message >
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="bToken" ><![CDATA[%dw 2.0
output application/java
---
payload.bToken]]></ee:set-variable>
				<ee:set-variable variableName="orgID" ><![CDATA[%dw 2.0
output application/java
---
payload.orgID]]></ee:set-variable>
				<ee:set-variable variableName="env" ><![CDATA[%dw 2.0
output application/java
---
payload.environment]]></ee:set-variable>
				<ee:set-variable variableName="appName" ><![CDATA[%dw 2.0
output application/java
---
payload.name]]></ee:set-variable>
				<ee:set-variable variableName="jarFilePath" ><![CDATA[%dw 2.0
output application/java
---
payload."deploymentType" ++ "/" ++ payload.id ++ ".zip" ]]></ee:set-variable>
				<ee:set-variable variableName="clsFilePath" ><![CDATA[%dw 2.0
output application/java
---
payload.deploymentType ++ "/" ++ payload.name ++ "-" ++ payload.id ++ "/classloader-model.json" ]]></ee:set-variable>
				<ee:set-variable variableName="appId" ><![CDATA[%dw 2.0
output application/java
---
payload.id]]></ee:set-variable>
				<ee:set-variable variableName="depType" ><![CDATA[%dw 2.0
output application/java
---
payload.deploymentType]]></ee:set-variable>
				<ee:set-variable variableName="outputCSVFileName" ><![CDATA[%dw 2.0
output application/java
---
payload.nameOfTheEnvironment]]></ee:set-variable>
				<ee:set-variable variableName="applicationStatus" ><![CDATA[%dw 2.0
output application/java
---
payload.applicationStatus]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<flow-ref doc:name="Common Processes for CH2 and RTF" doc:id="eb0bd50a-3641-4650-9c6b-d69e23784af9" name="ch2RtfCommonProcessing"/>
		<error-handler >
			<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="ff6ba25d-072f-4f0f-9b2f-0e586fae42be" >
				<ee:transform doc:name="Transform Message" doc:id="2f74e55e-19f8-434b-bca3-12b50705d8d9" >
					<ee:message >
					</ee:message>
					<ee:variables >
						<ee:set-variable variableName="failMessageToObjectStore" ><![CDATA[%dw 2.0
output application/java
---
{
	orgID:vars.orgID,
	env: vars.env,
	depType: vars.depType,
	status: "FAIL"
}]]></ee:set-variable>
					</ee:variables>
				</ee:transform>
				<vm:publish queueName="updateObjectStore" doc:name="Publish to Update Env Object Store" doc:id="09d2c18f-8e35-4d31-89ca-525a800bc1de" config-ref="VM_Config">
					<vm:content ><![CDATA[#[vars.failMessageToObjectStore]]]></vm:content>
				</vm:publish>
			</on-error-continue>
		</error-handler>
	</flow>
	<flow name="mulesoft-process-hybrid-applicationsFlow" doc:id="503b848f-5d9d-457c-a2e0-92bd818e6bce" maxConcurrency="1">
		<vm:listener doc:name="Listener" doc:id="65a254e3-bafa-474b-ae1b-75a3410a56b6" config-ref="VM_Config" queueName="hybrid"/>
		<logger level="TRACE" doc:name="Logger" doc:id="68d386c5-d632-4ff5-8d51-3ba5066c4895" message="#[payload]"/>
		<ee:transform doc:name="Transform Message" doc:id="60aa2912-3494-4cc5-9cd0-33600fd8cb09" >
			<ee:message >
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="bToken" ><![CDATA[%dw 2.0
output application/java
---
payload.bToken]]></ee:set-variable>
				<ee:set-variable variableName="orgID" ><![CDATA[%dw 2.0
output application/java
---
payload.orgID]]></ee:set-variable>
				<ee:set-variable variableName="env" ><![CDATA[%dw 2.0
output application/java
---
payload.environment]]></ee:set-variable>
				<ee:set-variable variableName="appName" ><![CDATA[%dw 2.0
output application/java
---
payload.name]]></ee:set-variable>
				<ee:set-variable variableName="jarFilePath" ><![CDATA[%dw 2.0
output application/java
---
payload.deploymentType ++ "/" ++ payload.id ++ ".zip" ]]></ee:set-variable>
				<ee:set-variable variableName="clsFilePath" ><![CDATA[%dw 2.0
output application/java
---
payload.deploymentType ++ "/" ++ payload.name ++ "-" ++ payload.id ++ "/classloader-model.json" ]]></ee:set-variable>
				<ee:set-variable variableName="appId" ><![CDATA[%dw 2.0
output application/java
---
payload.id]]></ee:set-variable>
				<ee:set-variable variableName="depType" ><![CDATA[%dw 2.0
output application/java
---
payload.deploymentType]]></ee:set-variable>
				<ee:set-variable variableName="outputCSVFileName" ><![CDATA[%dw 2.0
output application/java
---
payload.nameOfTheEnvironment]]></ee:set-variable>
				<ee:set-variable variableName="applicationStatus" ><![CDATA[%dw 2.0
output application/java
---
payload.applicationStatus]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<http:request method="GET" doc:name="Request" doc:id="dc1f60cf-4f5d-4ef0-b1d7-3827019d6aa1" config-ref="AnypointPlatform_HTTP_Request_configuration" path="#[p('anypointplatform.hybridapplications') ++ &#10;vars.appId ++ &quot;/artifact&quot;]" >
			<http:headers ><![CDATA[#[output application/java
---
{
	"X-ANYPNT-ENV-ID" : vars.env,
	"X-ANYPNT-ORG-ID" : vars.orgID
}]]]></http:headers>
		</http:request>
		
		<flow-ref doc:name="Process jar file and Generate the Report" doc:id="087b5268-83cd-4ec0-8836-68d5aefb3cf1" name="processJarAndGenerateReport"/>
		<error-handler >
			<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="9c5fd083-6e48-40ba-ae55-3f30c85d0e30" >
				<ee:transform doc:name="Transform Message" doc:id="cf6db873-fc2a-4bd9-b0bd-4ba9743dd012" >
					<ee:message >
					</ee:message>
					<ee:variables >
						<ee:set-variable variableName="failMessageToObjectStore" ><![CDATA[%dw 2.0
output application/java
---
{
	orgID:vars.orgID,
	env: vars.env,
	depType: vars.depType,
	status: "FAIL"
}]]></ee:set-variable>
					</ee:variables>
				</ee:transform>
				<vm:publish queueName="updateObjectStore" doc:name="Publish to Update Env Object Store" doc:id="3eb5cf11-6059-4335-82b6-863840a7d8f3" config-ref="VM_Config">
					<vm:content ><![CDATA[#[vars.failMessageToObjectStore]]]></vm:content>
				</vm:publish>
			</on-error-continue>
		</error-handler>
	</flow>
	<flow name="ch2RtfCommonProcessing" doc:id="4a8d02cc-dcda-48c3-9a53-65e1d6a31893" >
	<http:request method="GET" doc:name="Request" doc:id="bff9aaa9-af4d-4ad0-85c5-7fd39b362f13" config-ref="AnypointPlatform_HTTP_Request_configuration" path="#[p('anypointplatform.ch2applications') ++ &#10;vars.orgID ++ &quot;/environments/&quot; ++ vars.env ++ &quot;/deployments/&quot; ++ vars.appId]" target="ch2Response" />
				<ee:transform doc:name="Transform Message" doc:id="e6f069e2-ee1a-4b08-860f-6e8d02718a23" >
			<ee:message >
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="ch2gavresponse" ><![CDATA[%dw 2.0
output application/java
var ch2Response = vars.ch2Response
---
ch2Response.application.ref]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<http:request method="GET" doc:name="Request" doc:id="f4a199c1-06b6-483a-8108-446b685736f7" config-ref="AnypointPlatform_HTTP_Request_configuration" path="#[p('anypointplatform.exchangebasepath') ++ (vars.ch2gavresponse.&quot;groupId&quot;) ++ &quot;/&quot; ++ (vars.ch2gavresponse.&quot;artifactId&quot;) ++ &quot;/&quot; ++ (vars.ch2gavresponse.&quot;version&quot;) ++ &quot;/asset&quot;]" target="exchangeResponse" />
		<ee:transform doc:name="Transform Message" doc:id="0c8c2826-2e0c-4856-a2f9-695adb90fc9c" >
			<ee:message >
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="fileDownloadURI" ><![CDATA[%dw 2.0
import * from dw::core::Strings
output application/java
var extractJarInformation = vars.exchangeResponse.files filter ((item, index) -> item.packaging=="jar")
---
substringBefore(extractJarInformation.downloadURL[0],"?")]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<try doc:name="Try" doc:id="6cccaee3-f3ba-44e6-9307-65a51d0b5db0" >
					<http:request method="GET" doc:name="Request" doc:id="dacff13d-2b14-4ac8-bd9c-ebbb6449c4b3" url="#[vars.fileDownloadURI]" followRedirects="false">
					<http:headers><![CDATA[#[output application/java
---
{
	Authorization : "Bearer " ++ vars.bToken
}]]]></http:headers>
						<http:response-validator >
							<http:success-status-code-validator values="#[303]" />
						</http:response-validator>
				</http:request>
					<set-variable value="#[attributes.headers.location]" doc:name="Set Variable" doc:id="8332f74d-6b36-4d33-b616-e1b7d7ddd196" variableName="fileDownloadURI" />
					<logger level="TRACE" doc:name="Logger" doc:id="3c4b8267-8ec4-4fda-9628-625d38a9247e" message="########### #[vars.fileDownloadURI]" />
					<http:request method="GET" doc:name="Request" doc:id="f29a991d-6648-49d5-9dba-2f5a3731554e" url="#[vars.fileDownloadURI]" />
					<error-handler >
						<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="4dbe10ca-4488-49c1-9274-5c36f7e64ee5">
							<logger level="INFO" doc:name="Logger" doc:id="1c7bcf22-1fe1-4b6b-b7e9-fa3bb06cdcd2" message='#["NOT HAPPENNING"]'/>
						</on-error-continue>
					</error-handler>
				</try>
		<flow-ref doc:name="Process jar file and Generate the Report" doc:id="fe0b6016-66df-4322-933f-dd0974190508" name="processJarAndGenerateReport"/>
	</flow>
	<flow name="processJarAndGenerateReport" doc:id="4127c656-956e-40ef-bc0d-5502be5d86e5" >
	<flow-ref doc:name="Write Jar File" doc:id="1b852cd3-3c5b-45ab-a893-e363aed26479" name="writeJarToDisk" />
		<flow-ref doc:name="Extract Jar file " doc:id="e4ff2f5e-f020-410f-a990-621919c8bdc4" name="extractJarFile" />
		<flow-ref doc:name="Read Dependency &amp; Send Response" doc:id="28dca957-c8f5-42af-a86c-b8bfd1aea2ae" name="readDependencyVersionsandSendResponse" />
		<ee:transform doc:name="Transform Message" doc:id="2e18fb06-6c28-4fdf-8ebc-b27f23c58305">
					<ee:message>
					</ee:message>
					<ee:variables>
						<ee:set-variable variableName="messageToQueue"><![CDATA[%dw 2.0
output application/java
---
{
	orgID:vars.orgID,
	env: vars.env,
	outputCSVFileName: vars.outputCSVFileName,
	outputCSVObject: payload
}]]></ee:set-variable>
						<ee:set-variable variableName="successMessageToObjectStore"><![CDATA[%dw 2.0
output application/java
---
{
	orgID:vars.orgID,
	env: vars.env,
	depType: vars.depType,
	status: "OK"
}]]></ee:set-variable>
					</ee:variables>
				</ee:transform>
		<vm:publish doc:name="Publish to Environment Append Queue" doc:id="151f5fc0-35db-4e83-a85c-6ffe2c4078df" config-ref="VM_Config" queueName="appendToEnvFile">
					<vm:content><![CDATA[#[vars.messageToQueue]]]></vm:content>
				</vm:publish>
		<vm:publish doc:name="Publish to Update Env Object Store" doc:id="0325abc0-6f66-4316-b8de-5be3899d9a12" config-ref="VM_Config" queueName="updateObjectStore">
					<vm:content><![CDATA[#[vars.successMessageToObjectStore]]]></vm:content>
				</vm:publish>
	</flow>
</mule>
